:root {
    --rc1: #cd5454;
    --rc2: #c15959;
    --rc3: #c77777;

    --bc1: #5a94bb;
    --bc2: #69a0c4;
    --bc3: #76b0d7;

    --oc1: #ffaa75;
    --oc2: #ecb28d;
    --oc3: #ffc39d;
}


.merriweather-sans {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.collapse {
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.App {
    height: 100vh;
}

body {
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.rc1 {
    background-color: var(--rc1);

    .font {
        color: var(--rc1);
    }
}

.rc2 {
    background-color: var(--rc2);

    .font {
        color: var(--rc2);
    }
}

.rc3 {
    background-color: var(--rc3);

    .font {
        color: var(--rc3);
    }
}

.bc1 {
    background-color: var(--bc1);

    .font {
        color: var(--bc1);
    }
}

.bc2 {
    background-color: var(--bc2);

    .font {
        color: var(--bc2);
    }
}

.bc3 {
    background-color: var(--bc3);

    .font {
        color: var(--bc3);
    }
}

.oc1 {
    background-color: var(--oc1);

    .font {
        color: var(--oc1);
    }
}

.oc2 {
    background-color: var(--oc2);

    .font {
        color: var(--oc2);
    }
}

.oc3 {
    background-color: var(--oc3);

    .font {
        color: var(--oc3);
    }
}


#pomodoro-header {
    position: relative;
    height: 10vh;

    border-bottom: 0.5rem solid white;

    h1 {
        transform: translateY(-20%);
        text-align: center;
        color: white;
        font-size: 3rem;
    }

}


.settings {
  position: absolute;
  right: 0.5vw;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 2rem;
  color: white;
  border-radius: 50%;
  transition: transform 1s;
}

.settings:hover {
  background: white;
  transform: translateY(-50%) rotate(90deg); 
  
}

.settings:hover.rc {
        color:var(--rc1);
}

.settings:hover.bc {
    color:var(--bc1);
}

.settings:hover.oc {
    color:var(--oc1);
}


/** Pomodoro Main Content **/

#pomodoro-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}


#functions-container {
    width: 30vw;
    height: 40vh;
    padding-top: 2%;
    margin-top: 2%;

    border: 5px solid white;
    border-radius: 15%;

}

#stages {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    

    button {
        font-size: 1.2rem;
        background-color: inherit;  
        border: none;
        color: white;
        cursor: pointer;    
    }

    button.active {
        border-radius: 7%;
        font-weight: bold;
        text-decoration: underline;
    }
}


#timer-display p{
    margin: 10% 0;
    text-align: center;
    font-size: 7rem;
    color: white;
}

#timer-actions {
    display: flex;
    justify-content: center;
    position: relative;
}

#pause {
    font-size: 2rem;
    transition: 0.1s;
    border-radius: 5%;
    box-shadow: 0px 2px 0px 3px lightgray;
    border:none;
    background-color: white;
    padding: 2%;
    width: 40%;
    cursor: pointer;
}

#fast-forward {
    position: absolute;
    border-radius: 5%;
    box-shadow: 0px 2px 0px 3px lightgray;
    border:none;
    background-color: white;
    cursor: pointer;

    right: 15%;
    height: 100%;

}  

#fast-forward-icon {
    width: 50px;
    font-size: 1.5rem;
    background-color: transparent;
}

#pause:hover, #fast-forward:hover {
    transform: translateY(2%);
}

#pause:active, #fast-forward:active {
    transform: translateY(10%);
    box-shadow: 0px 0px 0px 0px black;
}



#cycle-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    h3 {
        font-size: 2rem;
        padding: 0;
        margin: 15% 0 10% 0;
    }

    p {
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
    }
}

.settings-outline {

    background-color: transparent;
    opacity: 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
   
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items:center;
    justify-content: center;

}

.settings-outline.open {
    opacity: 1;
    z-index: 1;
}

.settings-menu {

    background-color: white;;

    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 25vw;

    border-radius: 5%;
    padding: 1%;


    box-shadow: 0px 2px 3px 3px lightgray;


    h2 {
        font-size: 2rem;
        margin: 0 0 5% 0;
        padding: 0;
    }
    
}

#menu-header {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    margin-top: 7%;

    h2 {
        background-color: transparent;
    }

    button {
        position: absolute;
        right: 0;
        top: -35%;
    }

}

#timer-settings {

    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 2.5%;

    width: 100%;

    margin-bottom: 10%;

    input.rc {
        border: 2px solid var(--rc1);        
    }

    input.oc {
        border: 2px solid var(--oc1);        
    }
    

    input.bc {
        border: 2px solid var(--bc1);        
    }
    
    

}

.vertical-stack {

    display: flex;
    flex-direction: column;

    input {
        font-size: 1.5rem;
        border-radius: 5px;
    }

}

.horizontal-stack {

    display: flex;
    align-items: center;
    text-wrap: nowrap;

    justify-content: space-around;

    width: 100%;

    margin-bottom: 10%;
    
    input {
        width: 5vw;
        font-size: 1.2rem;
        border-radius: 5px;
    }

    input.rc {
        border: 2px solid var(--rc1);        
    }

    input.oc {
        border: 2px solid var(--oc1);        
    }
    

    input.bc {
        border: 2px solid var(--bc1);        
    }

}

#exit-settings {

    padding: 3% 7% 3% 7%;
    margin-bottom: 5%;
    font-size: 1.5rem;
    transition: 0.1s;
    border-radius: 5%;
    box-shadow: 0px 2px 0px 3px lightgray;
    border: none;
    cursor: pointer;
    color: white;

}

#exit-settings:hover {
    transform: translateY(2%);
}

#exit-settings:active {
    transform: translateY(10%);
    box-shadow: 0px 0px 0px 0px black;
}

.section-title {
    width: 100%;
    margin: 0;
    margin-left: 3vw;
    color: rgb(152, 149, 149);
    text-decoration: underline;
}

#color-themes {

    margin-top: 5%;

    display: flex;
    justify-content: space-around;
    width: 100%;

    select {
        background-color: white;
        width: 5vw;
        font-size: 1.2rem;
        border-radius: 5px;
    }

    select.rc {
        border: 2px solid var(--rc1);        
    }

    select.oc {
        border: 2px solid var(--oc1);        
    }
    
    select.bc {
        border: 2px solid var(--bc1);        
    }
}


